In [1]:
import pandas as pd

In [2]:
df_drugs = pd.read_csv('Data/ucr_drug_arrests_2019_cleaned.csv')
df_crime = pd.read_csv('Data/ucr_arrests_2019_cleaned.csv')
df_other = pd.read_csv('Data/ucr_other_arrests_2019_cleaned.csv')

In [3]:
#len of each df
print(len(df_drugs))
print(len(df_crime))
print(len(df_other))

19452
19452
19452

In [7]:
df_crime_grouped = df_crime.groupby(['fips_state_county_code',]).agg({"population":"sum","agg_assault_tot_arrests":"sum","arson_tot_arrests":"sum","burglary_tot_arrests":"sum","mtr_veh_theft_tot_arrests":"sum","murder_tot_arrests":"sum","rape_tot_arrests":"sum","robbery_tot_arrests":"sum","theft_tot_arrests":"sum"
})
df_drugs_grouped = df_drugs.groupby(['fips_state_county_code']).agg({"sale_cannabis_tot_arrests":"sum","sale_heroin_coke_tot_arrests":"sum","sale_other_drug_tot_arrests":"sum","sale_synth_narc_tot_arrests":"sum","poss_cannabis_tot_arrests":"sum","poss_heroin_coke_tot_arrests":"sum","poss_other_drug_tot_arrests":"sum","poss_synth_narc_tot_arrests":"sum",
})
df_other_crime_grouped = df_other.groupby(['fips_state_county_code']).agg({"all_other_tot_arrests":"sum","curfew_loiter_tot_arrests":"sum","disorder_cond_tot_arrests":"sum","family_off_tot_arrests":"sum","manslaught_neg_tot_arrests":"sum","oth_assault_tot_arrests":"sum","oth_sex_off_tot_arrests":"sum","prostitution_tot_arrests":"sum","runaways_tot_arrests":"sum","suspicion_tot_arrests":"sum","vagrancy_tot_arrests":"sum","vandalism_tot_arrests":"sum","weapons_tot_arrests":"sum",
})

In [8]:
#len of grouped dfs
print(len(df_crime_grouped))
print(len(df_drugs_grouped))
print(len(df_other_crime_grouped))

3138
3138
3138

In [9]:
df_all_crime = df_crime_grouped.merge(df_drugs_grouped, on='fips_state_county_code', how='inner')
df_all_crime = df_all_crime.merge(df_other_crime_grouped, on='fips_state_county_code', how='inner')

In [10]:
df_crime_grouped.head()

,population,agg_assault_tot_arrests,arson_tot_arrests,burglary_tot_arrests,mtr_veh_theft_tot_arrests,murder_tot_arrests,rape_tot_arrests,robbery_tot_arrests,theft_tot_arrests
fips_state_county_code,,,,,,,,,
0,1359077,1328,147,496,224,52,102,159,2007
1001,55573,17,1,12,16,3,5,9,113
1003,222871,246,2,123,22,10,34,40,772
1005,24595,14,0,1,1,3,1,3,32
1007,22291,18,1,20,6,1,4,8,39

In [11]:
df_all_crime.to_csv('Data_Cleaned/all_crime_arrests_2019_cleaned.csv')