In [94]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('master_dataset_clean.csv')

In [95]:
df.dtypes

County                                  object
State                                   object
FIPS                                     int64
live 2a1w1c                            float64
min 1a1c                               float64
pct_less_hs                            float64
pct_hs                                 float64
pct_some_college                       float64
pct_college                            float64
crime_per_10k_x                        float64
unemployment_rate_2019                 float64
median_household_income_2019             int64
Food                                     int64
Medical                                  int64
Housing                                  int64
Transportation                           int64
Civic                                    int64
Other                                    int64
Required annual income after taxes       int64
Annual taxes                             int64
Required annual income before taxes      int64
Unnamed: 0                               int64
crime_per_10k_y                        float64
violent_crime_per_10k                  float64
hard_drugs_crime_per_10k               float64
soft_drugs_crime_per_10k               float64
commerce_crimes_per_10k                float64
dtype: object

In [96]:
df.describe()

,FIPS,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,crime_per_10k_x,unemployment_rate_2019,median_household_income_2019,...,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes,Unnamed: 0,crime_per_10k_y,violent_crime_per_10k,hard_drugs_crime_per_10k,soft_drugs_crime_per_10k,commerce_crimes_per_10k
count,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,...,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000
mean,30491.253124,27.035905,8.448635,13.061038,34.174015,30.826370,21.940308,213.517325,3.927587,55656.284524,...,5123.703941,45504.658122,10753.275873,56257.874079,1569.550785,213.517326,40.741543,8.742535,31.582034,27.082270
std,15091.719069,2.146110,1.639746,6.258067,7.215851,5.200671,9.534227,195.699096,1.424564,14439.081331,...,117.596974,3086.739206,2364.840405,4488.883826,903.365914,195.699039,39.094692,14.142338,45.326798,25.419047
min,1001.000000,23.450000,7.250000,1.100000,7.300000,5.200000,0.000000,0.000000,0.800000,24732.000000,...,4996.000000,42127.000000,6904.000000,49489.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19013.000000,25.800000,7.250000,8.500000,29.700000,27.300000,15.300000,84.610000,3.000000,46214.000000,...,5070.000000,43721.000000,9373.000000,53705.000000,788.000000,84.605589,16.489165,0.565004,8.348988,7.850526
50%,29185.000000,26.590000,7.250000,11.700000,34.600000,30.800000,19.600000,177.400000,3.700000,53289.000000,...,5144.000000,44684.000000,10784.000000,55312.000000,1569.000000,177.402323,35.130573,4.196127,23.396531,21.669116
75%,45087.000000,27.560000,9.450000,16.700000,39.100000,34.200000,26.000000,290.450000,4.600000,61878.000000,...,5144.000000,46197.000000,12202.000000,57390.000000,2351.000000,290.448056,56.176651,11.053761,42.785566,40.073899
max,56045.000000,49.450000,13.500000,73.600000,57.400000,60.600000,77.600000,2741.560000,20.900000,151806.000000,...,5514.000000,76454.000000,26406.000000,102860.000000,3134.000000,2741.562644,793.092910,212.765957,1210.780370,309.644670

In [97]:
df_lookups = df

In [98]:
df = df.drop(["County", "State", "Unnamed: 0"], axis=1)
from scipy import stats
import numpy as np
#drop all upper bound outliers
df = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]
#drop all lower bound outliers
df = df[(np.abs(stats.zscore(df)) > -3).all(axis=1)]
#drop zero row values
df = df.loc[(df!=0).any(axis=1)]
print(len(df))
df.describe()

2521

,FIPS,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,crime_per_10k_x,unemployment_rate_2019,median_household_income_2019,...,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes,crime_per_10k_y,violent_crime_per_10k,hard_drugs_crime_per_10k,soft_drugs_crime_per_10k,commerce_crimes_per_10k
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,...,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,29615.689012,26.701376,8.199976,13.018247,34.962793,31.360928,20.659104,192.026743,3.839746,53915.084887,...,3667.780246,5097.151924,44939.614835,10604.896470,55544.431575,192.026818,35.840652,6.670541,27.873544,24.111956
std,14904.045836,1.323503,1.313342,5.606045,6.501269,4.823432,7.754161,156.926734,1.174521,11552.462166,...,139.195298,50.456986,1957.014138,1921.424454,2741.339645,156.926645,28.023552,8.919255,26.437072,22.125754
min,1001.000000,23.450000,7.250000,1.100000,15.200000,15.800000,7.200000,0.000000,1.400000,24732.000000,...,3554.000000,4996.000000,42127.000000,6972.000000,49979.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18115.000000,25.790000,7.250000,8.700000,30.700000,28.000000,15.100000,68.100000,3.000000,45939.000000,...,3554.000000,5070.000000,43661.000000,9517.000000,53676.000000,68.096204,14.088716,0.000000,7.280140,5.952008
50%,28141.000000,26.550000,7.250000,12.000000,35.200000,31.300000,19.000000,164.900000,3.600000,52554.000000,...,3554.000000,5070.000000,44395.000000,10766.000000,55219.000000,164.901664,31.864987,3.261997,21.629755,18.477458
75%,41047.000000,27.390000,9.250000,16.700000,39.500000,34.600000,24.200000,282.400000,4.500000,60384.000000,...,3838.000000,5144.000000,45672.000000,11805.000000,56978.000000,282.396190,52.732233,9.033424,41.008856,37.201281
max,56045.000000,32.730000,12.000000,31.800000,54.500000,46.300000,50.400000,787.370000,8.200000,98217.000000,...,3838.000000,5144.000000,53719.000000,17831.000000,68082.000000,787.373150,152.596116,51.091500,161.049063,102.758791

In [99]:
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.preprocessing import StandardScaler
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import ExtraTreesRegressor
# from sklearn.ensemble import AdaBoostRegressor
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LassoLarsCV
# from sklearn.model_selection import train_test_split
# from matplotlib import pyplot as plt

# def test_model(model):
#     reg = model.fit(X_train_scale, y_train)
#     print(f'    Model: {type(reg).__name__}')
#     print(f'    Train score: {reg.score(X_train_scale, y_train)}')
#     print(f'    Test Score: {reg.score(X_test_scale, y_test)}\n')
#     print()
#     plt.scatter(y_test, model.predict(X_test_scale))
#     plt.show()
# y_vals = ['crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k']

In [100]:
# for y in y_vals:
#     X = df.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
#     X_train, X_test, y_train, y_test = train_test_split(X, df[y], test_size=0.2, random_state=42)
#     # scaler = StandardScaler()
#     # scaler.fit(X_train)
#     # X_train_scale = scaler.transform(X_train)
#     # X_test_scale = scaler.transform(X_test)
#     print(f'REGRESSIONS FOR {y}')
#     # test_model(LinearRegression())
#     # test_model(KNeighborsRegressor())
#     # test_model(RandomForestRegressor())
#     # test_model(ExtraTreesRegressor())
#     # test_model(AdaBoostRegressor())
#     reg = RandomForestRegressor(n_estimators=375, max_leaf_nodes=110, random_state=42, oob_score=True, n_jobs=-1, verbose=1, warm_start=True, max_features="log2", min_samples_leaf=1, min_samples_split=2, bootstrap=True, max_depth=None)
#     reg.fit(X_train, y_train)
#     print(f'    Model: {type(reg).__name__}')
#     print(f'    Train score: {reg.score(X_train, y_train)}')
#     print(f'    Test Score: {reg.score(X_test, y_test)}\n')
#     print()
#     plt.scatter(y_test, reg.predict(X_test))


#Random Forrest regressor against the full crime data has the highest testing score

In [101]:
# #tune the random forrest model
from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# X = df.drop(['FIPS','crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
# y = df['crime_per_10k_y']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# estimators = range(1,250,20)
# for i in estimators:
#     rf = RandomForestRegressor(n_estimators=i, max_leaf_nodes=90, random_state=0)
#     rf.fit(X_train, y_train)
#     print(f'    Test Score @ {i}: {rf.score(X_test, y_test)}')

In [83]:
#load data through a random forest model

reg = RandomForestRegressor(n_estimators=375, max_leaf_nodes=110, random_state=42)
X = df.drop(['FIPS','crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
y = df['crime_per_10k_y']

# scaler = StandardScaler()
# scaler.fit(X_train)
# X_train_scale = scaler.transform(X_train)
# X_test_scale = scaler.transform(X_test)
reg.fit(X,y)
# print(f'Score: {reg.score(X_test, y_test)}')
# y_yats = reg.predict(X)
# df_outputs = pd.DataFrame(y_yats, columns=['predictions'])
# df_outputs["FIPS"] = (df1["FIPS"].round(0))
# df_outputs = df_outputs.merge(df_lookups, on="FIPS", how="inner")

RandomForestRegressor(max_leaf_nodes=110, n_estimators=375, random_state=42)

In [84]:
# df_outputs.columns

In [85]:
# df_outputs = df_outputs[['County', 'State','FIPS','crime_per_10k_y','predictions']]
# df_outputs['FIPS'] = df_outputs['FIPS'].astype(int)
# df_outputs.to_csv("../Resources/Data_Outputs/test.csv")
# df_outputs.head()

In [86]:
def scenario_predictions_increase(df, model, column):
    df_mod = df
    modifier = 1.25
    df_mod[column] = df_mod[column] * modifier
    X_new = df_mod.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
    return model.predict(X_new)
def scenario_predictions_decrease(df, model, column):
    df_mod = df
    modifier = 0.75
    df_mod[column] = df_mod[column] * modifier
    X_new = df_mod.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
    return model.predict(X_new)

In [87]:
# df_scenarios = df[['FIPS', "crime_per_10k_y",]]
# df_scenarios["improved_hs_education"] = scenario_predictions_increase(df, reg, "pct_hs")
# df_scenarios["improved_college_education"] = scenario_predictions_increase(df, reg, "pct_college")
# df_scenarios["improved_income"] = scenario_predictions_increase(df, reg,"median_household_income_2019")
# df_scenarios["improved_cost of living"] = scenario_predictions_decrease(df, reg, "Required annual income after taxes")

In [88]:
df.columns

Index(['FIPS', 'live 2a1w1c', 'min 1a1c', 'pct_less_hs', 'pct_hs',
       'pct_some_college', 'pct_college', 'crime_per_10k_x',
       'unemployment_rate_2019', 'median_household_income_2019', 'Food',
       'Medical', 'Housing', 'Transportation', 'Civic', 'Other',
       'Required annual income after taxes', 'Annual taxes',
       'Required annual income before taxes', 'crime_per_10k_y',
       'violent_crime_per_10k', 'hard_drugs_crime_per_10k',
       'soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],
      dtype='object')

In [89]:
df_scenarios = df[['FIPS', "crime_per_10k_y",]]
df_prediction_columns = ['live 2a1w1c', 'min 1a1c', 'pct_less_hs', 'pct_hs','pct_some_college', 'pct_college','unemployment_rate_2019', 'median_household_income_2019', 'Food','Medical', 'Housing', 'Transportation', 'Civic', 'Other','Required annual income after taxes', 'Annual taxes','Required annual income before taxes']
df_prediction_columns_mod = [0,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0]
df_scenarios['full_pred'] = reg.predict(X*0.9)
for i in range(len(df_prediction_columns)):
    if df_prediction_columns_mod[i] ==1:
        df_scenarios[df_prediction_columns[i]] = scenario_predictions_increase(df, reg, df_prediction_columns[i])
    else:
        df_scenarios[df_prediction_columns[i]] = scenario_predictions_decrease(df, reg, df_prediction_columns[i])

# for i in range(len(df_prediction_columns)):
#     df_scenarios[df_prediction_columns[i]] = scenario_predictions_decrease(df, reg, df_prediction_columns[i])

df_scenarios.head()

C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,FIPS,crime_per_10k_y,full_pred,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,unemployment_rate_2019,median_household_income_2019,Food,Medical,Housing,Transportation,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
0,1001,266.136433,423.171804,438.944059,422.058960,420.777064,411.817678,393.801778,395.984165,395.503120,371.600968,371.600968,362.789148,343.611508,333.679062,333.679062,332.298124,315.859134,314.349024,355.290215
1,1003,418.717554,384.997005,451.908520,417.394220,416.706626,414.409076,415.083264,414.255122,407.809073,383.835858,383.835858,386.682176,377.328037,367.792518,367.792518,366.208273,352.612579,324.358874,355.754896
2,1005,140.272413,310.054938,267.921718,260.258401,280.564199,292.334907,274.774842,279.448887,297.305706,306.718551,306.718551,296.940678,296.940678,289.634761,289.634761,287.205014,287.205014,289.129327,329.385766
3,1007,279.036382,245.465289,387.863136,359.107115,358.293329,355.167410,350.101426,353.258784,343.870792,354.825260,354.825260,357.870722,355.318480,347.139935,347.139935,345.889806,339.831621,317.041567,356.273500
4,1009,210.850300,282.755645,382.140301,354.549739,357.685009,358.995499,369.414223,388.040882,383.761031,358.521604,358.521604,358.216025,350.838364,340.513673,340.513673,338.929428,329.537798,309.164146,338.287845

In [90]:
# df_test["pct_hs"] = df_test["pct_hs"] * 200
# X_mod = df_test.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
# df_test["preds"] = reg.predict(X_mod)
# df_test = df_test[['FIPS', "crime_per_10k_y", "preds"]]

df_scenarios.describe()

,FIPS,crime_per_10k_y,full_pred,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,unemployment_rate_2019,median_household_income_2019,Food,Medical,Housing,Transportation,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,29615.689012,192.026818,343.340567,368.785698,360.147353,365.575227,365.176759,357.947724,364.186282,366.354605,365.450608,367.956310,364.303050,355.350964,351.914398,354.328638,353.034213,341.512175,342.395112,375.730706
std,14904.045836,156.926645,69.175311,58.820250,54.822699,54.493614,52.922907,50.431390,50.550592,49.156140,47.541824,45.493791,39.959192,37.889433,34.105157,32.802016,32.345228,28.277616,34.701926,32.058294
min,1001.000000,0.000000,155.800016,185.266262,203.295903,207.268566,216.793934,216.927302,222.346329,231.860095,245.433155,245.433155,247.773339,246.772351,240.640099,240.640099,239.435686,248.465941,253.069508,282.318715
25%,18115.000000,68.096204,305.328477,332.681112,321.274354,327.412639,327.650453,322.747028,329.546847,332.645593,333.886218,335.715319,332.639282,325.722486,324.493690,329.556942,328.239667,320.211746,319.585133,357.549543
50%,28141.000000,164.901664,352.067171,368.666334,362.490468,367.576752,367.157657,361.193209,369.216925,371.895708,370.759335,372.428330,369.433573,360.570075,356.502361,357.810870,357.104531,343.419126,333.972152,369.563225
75%,41047.000000,282.396190,389.424305,407.805874,397.073136,402.532547,400.708901,394.012506,399.420370,398.042512,395.941674,397.009416,390.883270,380.582499,373.537273,374.583599,373.906008,358.577519,359.285058,392.098753
max,56045.000000,787.373150,524.668037,578.373366,563.915292,563.131468,562.541589,547.032410,548.948573,529.240137,534.192559,534.192559,511.149711,507.117819,494.413653,494.413653,485.110260,482.020082,482.020082,482.020082

In [91]:
df_scenarios.to_csv("../Resources/Data_Outputs/scenarios.csv")

In [92]:
#Calculate % change in crime for each feature
df_change_in_crime = df_scenarios[["FIPS", "crime_per_10k_y"]]
def percent_change(df, column):
    return df[column] / df["crime_per_10k_y"] -1
for i in range(len(df_prediction_columns)):
    df_change_in_crime[df_prediction_columns[i]] = percent_change(df_scenarios, df_prediction_columns[i])
#filter inf rows from table
df_change_in_crime = df_change_in_crime.replace([np.inf, -np.inf], np.nan)
df_change_in_crime = df_change_in_crime.dropna()
#drop all upper bound outliers
df_change_in_crime = df_change_in_crime[(np.abs(stats.zscore(df_change_in_crime)) < 2.5).all(axis=1)]
#drop all lower bound outliers
df_change_in_crime = df_change_in_crime[(np.abs(stats.zscore(df_change_in_crime)) > -2.5).all(axis=1)]

C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [93]:


df_change_in_crime_description = df_change_in_crime.describe()
df_change_in_crime_description.to_csv("../Resources/Data_Outputs/change_in_crime_description.csv")
df_change_in_crime.to_csv("../Resources/Data_Outputs/change_in_crime.csv")

In [102]:
df_change_in_crime_description =

,FIPS,crime_per_10k_y,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,unemployment_rate_2019,median_household_income_2019,Food,Medical,Housing,Transportation,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
count,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000
mean,30644.128415,203.654733,3.349638,3.252297,3.310682,3.315785,3.244177,3.320007,3.336875,3.324779,3.354575,3.323271,3.225110,3.198973,3.233942,3.225886,3.101675,3.190106,3.606046
std,15067.410344,133.435915,9.077787,8.919707,9.049163,9.065429,8.942844,9.093666,9.134645,9.058845,9.115606,9.233644,9.031970,8.989244,9.071885,9.066666,8.726677,9.262181,10.135324
min,1001.000000,2.990431,-0.402367,-0.393743,-0.387324,-0.405154,-0.432641,-0.425620,-0.407321,-0.448925,-0.446213,-0.449727,-0.460462,-0.463234,-0.463234,-0.470042,-0.487926,-0.528613,-0.477083
25%,19140.500000,99.904603,0.355268,0.304336,0.317329,0.314264,0.300260,0.315857,0.318139,0.321484,0.329457,0.304310,0.262430,0.243540,0.250818,0.248248,0.207916,0.201679,0.321004