In [602]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('master_dataset_clean.csv')

In [603]:
df.dtypes

County                                  object
State                                   object
FIPS                                     int64
live 2a1w1c                            float64
min 1a1c                               float64
pct_less_hs                            float64
pct_hs                                 float64
pct_some_college                       float64
pct_college                            float64
crime_per_10k_x                        float64
unemployment_rate_2019                 float64
median_household_income_2019             int64
Food                                     int64
Medical                                  int64
Housing                                  int64
Transportation                           int64
Civic                                    int64
Other                                    int64
Required annual income after taxes       int64
Annual taxes                             int64
Required annual income before taxes      int64
Unnamed: 0                               int64
crime_per_10k_y                        float64
violent_crime_per_10k                  float64
hard_drugs_crime_per_10k               float64
soft_drugs_crime_per_10k               float64
commerce_crimes_per_10k                float64
dtype: object

In [604]:
df.describe()

,FIPS,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,crime_per_10k_x,unemployment_rate_2019,median_household_income_2019,...,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes,Unnamed: 0,crime_per_10k_y,violent_crime_per_10k,hard_drugs_crime_per_10k,soft_drugs_crime_per_10k,commerce_crimes_per_10k
count,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,...,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000,3121.000000
mean,30491.253124,27.035905,8.448635,13.061038,34.174015,30.826370,21.940308,213.517325,3.927587,55656.284524,...,5123.703941,45504.658122,10753.275873,56257.874079,1569.550785,213.517326,40.741543,8.742535,31.582034,27.082270
std,15091.719069,2.146110,1.639746,6.258067,7.215851,5.200671,9.534227,195.699096,1.424564,14439.081331,...,117.596974,3086.739206,2364.840405,4488.883826,903.365914,195.699039,39.094692,14.142338,45.326798,25.419047
min,1001.000000,23.450000,7.250000,1.100000,7.300000,5.200000,0.000000,0.000000,0.800000,24732.000000,...,4996.000000,42127.000000,6904.000000,49489.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19013.000000,25.800000,7.250000,8.500000,29.700000,27.300000,15.300000,84.610000,3.000000,46214.000000,...,5070.000000,43721.000000,9373.000000,53705.000000,788.000000,84.605589,16.489165,0.565004,8.348988,7.850526
50%,29185.000000,26.590000,7.250000,11.700000,34.600000,30.800000,19.600000,177.400000,3.700000,53289.000000,...,5144.000000,44684.000000,10784.000000,55312.000000,1569.000000,177.402323,35.130573,4.196127,23.396531,21.669116
75%,45087.000000,27.560000,9.450000,16.700000,39.100000,34.200000,26.000000,290.450000,4.600000,61878.000000,...,5144.000000,46197.000000,12202.000000,57390.000000,2351.000000,290.448056,56.176651,11.053761,42.785566,40.073899
max,56045.000000,49.450000,13.500000,73.600000,57.400000,60.600000,77.600000,2741.560000,20.900000,151806.000000,...,5514.000000,76454.000000,26406.000000,102860.000000,3134.000000,2741.562644,793.092910,212.765957,1210.780370,309.644670

In [605]:
df_lookups = df

In [606]:
df = df.drop(["County", "State", "Unnamed: 0"], axis=1)
from scipy import stats
import numpy as np
#drop all upper bound outliers
df = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]
#drop all lower bound outliers
df = df[(np.abs(stats.zscore(df)) > -3).all(axis=1)]
#drop zero row values
df = df.loc[(df!=0).any(axis=1)]
print(len(df))
df.describe()

2521

,FIPS,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,crime_per_10k_x,unemployment_rate_2019,median_household_income_2019,...,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes,crime_per_10k_y,violent_crime_per_10k,hard_drugs_crime_per_10k,soft_drugs_crime_per_10k,commerce_crimes_per_10k
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,...,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,29615.689012,26.701376,8.199976,13.018247,34.962793,31.360928,20.659104,192.026743,3.839746,53915.084887,...,3667.780246,5097.151924,44939.614835,10604.896470,55544.431575,192.026818,35.840652,6.670541,27.873544,24.111956
std,14904.045836,1.323503,1.313342,5.606045,6.501269,4.823432,7.754161,156.926734,1.174521,11552.462166,...,139.195298,50.456986,1957.014138,1921.424454,2741.339645,156.926645,28.023552,8.919255,26.437072,22.125754
min,1001.000000,23.450000,7.250000,1.100000,15.200000,15.800000,7.200000,0.000000,1.400000,24732.000000,...,3554.000000,4996.000000,42127.000000,6972.000000,49979.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18115.000000,25.790000,7.250000,8.700000,30.700000,28.000000,15.100000,68.100000,3.000000,45939.000000,...,3554.000000,5070.000000,43661.000000,9517.000000,53676.000000,68.096204,14.088716,0.000000,7.280140,5.952008
50%,28141.000000,26.550000,7.250000,12.000000,35.200000,31.300000,19.000000,164.900000,3.600000,52554.000000,...,3554.000000,5070.000000,44395.000000,10766.000000,55219.000000,164.901664,31.864987,3.261997,21.629755,18.477458
75%,41047.000000,27.390000,9.250000,16.700000,39.500000,34.600000,24.200000,282.400000,4.500000,60384.000000,...,3838.000000,5144.000000,45672.000000,11805.000000,56978.000000,282.396190,52.732233,9.033424,41.008856,37.201281
max,56045.000000,32.730000,12.000000,31.800000,54.500000,46.300000,50.400000,787.370000,8.200000,98217.000000,...,3838.000000,5144.000000,53719.000000,17831.000000,68082.000000,787.373150,152.596116,51.091500,161.049063,102.758791

In [607]:
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.preprocessing import StandardScaler
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import ExtraTreesRegressor
# from sklearn.ensemble import AdaBoostRegressor
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LassoLarsCV
# from sklearn.model_selection import train_test_split
# from matplotlib import pyplot as plt

# def test_model(model):
#     reg = model.fit(X_train_scale, y_train)
#     print(f'    Model: {type(reg).__name__}')
#     print(f'    Train score: {reg.score(X_train_scale, y_train)}')
#     print(f'    Test Score: {reg.score(X_test_scale, y_test)}\n')
#     print()
#     plt.scatter(y_test, model.predict(X_test_scale))
#     plt.show()
# y_vals = ['crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k']

In [608]:
# for y in y_vals:
#     X = df.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
#     X_train, X_test, y_train, y_test = train_test_split(X, df[y], test_size=0.2, random_state=42)
#     # scaler = StandardScaler()
#     # scaler.fit(X_train)
#     # X_train_scale = scaler.transform(X_train)
#     # X_test_scale = scaler.transform(X_test)
#     print(f'REGRESSIONS FOR {y}')
#     # test_model(LinearRegression())
#     # test_model(KNeighborsRegressor())
#     # test_model(RandomForestRegressor())
#     # test_model(ExtraTreesRegressor())
#     # test_model(AdaBoostRegressor())
#     reg = RandomForestRegressor(n_estimators=375, max_leaf_nodes=110, random_state=42, oob_score=True, n_jobs=-1, verbose=1, warm_start=True, max_features="log2", min_samples_leaf=1, min_samples_split=2, bootstrap=True, max_depth=None)
#     reg.fit(X_train, y_train)
#     print(f'    Model: {type(reg).__name__}')
#     print(f'    Train score: {reg.score(X_train, y_train)}')
#     print(f'    Test Score: {reg.score(X_test, y_test)}\n')
#     print()
#     plt.scatter(y_test, reg.predict(X_test))


#Random Forrest regressor against the full crime data has the highest testing score

In [609]:
# #tune the random forrest model
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# X = df.drop(['FIPS','crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
# y = df['crime_per_10k_y']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# estimators = range(90,140,10)
# for i in estimators:
#     rf = RandomForestRegressor(n_estimators=375, max_leaf_nodes=i, random_state=0)
#     rf.fit(X_train, y_train)
#     print(f'    Test Score @ {i}: {rf.score(X_test, y_test)}')

In [610]:
#load data through a random forest model

reg = RandomForestRegressor(n_estimators=375, max_leaf_nodes=110, random_state=42)
X = df.drop(['FIPS','crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
y = df['crime_per_10k_y']

# scaler = StandardScaler()
# scaler.fit(X_train)
# X_train_scale = scaler.transform(X_train)
# X_test_scale = scaler.transform(X_test)
reg.fit(X_train, y_train)
print(f'Score: {reg.score(X_test, y_test)}')
# y_yats = reg.predict(X)
# df_outputs = pd.DataFrame(y_yats, columns=['predictions'])
# df_outputs["FIPS"] = (df1["FIPS"].round(0))
# df_outputs = df_outputs.merge(df_lookups, on="FIPS", how="inner")

Score: 0.38015027019104786

In [611]:
# df_outputs.columns

In [612]:
# df_outputs = df_outputs[['County', 'State','FIPS','crime_per_10k_y','predictions']]
# df_outputs['FIPS'] = df_outputs['FIPS'].astype(int)
# df_outputs.to_csv("../Resources/Data_Outputs/test.csv")
# df_outputs.head()

In [613]:
def scenario_predictions_increase(df, model, column):
    df_mod = df
    modifier = 1.25
    df_mod[column] = df_mod[column] * modifier
    X_new = df_mod.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
    return model.predict(X_new)
def scenario_predictions_decrease(df, model, column):
    df_mod = df
    modifier = 0.75
    df_mod[column] = df_mod[column] * modifier
    X_new = df_mod.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
    return model.predict(X_new)

In [614]:
# df_scenarios = df[['FIPS', "crime_per_10k_y",]]
# df_scenarios["improved_hs_education"] = scenario_predictions_increase(df, reg, "pct_hs")
# df_scenarios["improved_college_education"] = scenario_predictions_increase(df, reg, "pct_college")
# df_scenarios["improved_income"] = scenario_predictions_increase(df, reg,"median_household_income_2019")
# df_scenarios["improved_cost of living"] = scenario_predictions_decrease(df, reg, "Required annual income after taxes")

In [615]:
df.columns

Index(['FIPS', 'live 2a1w1c', 'min 1a1c', 'pct_less_hs', 'pct_hs',
       'pct_some_college', 'pct_college', 'crime_per_10k_x',
       'unemployment_rate_2019', 'median_household_income_2019', 'Food',
       'Medical', 'Housing', 'Transportation', 'Civic', 'Other',
       'Required annual income after taxes', 'Annual taxes',
       'Required annual income before taxes', 'crime_per_10k_y',
       'violent_crime_per_10k', 'hard_drugs_crime_per_10k',
       'soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],
      dtype='object')

In [599]:
df_scenarios = df[['FIPS', "crime_per_10k_y",]]
df_prediction_columns = ['live 2a1w1c', 'min 1a1c', 'pct_less_hs', 'pct_hs','pct_some_college', 'pct_college','unemployment_rate_2019', 'median_household_income_2019', 'Food','Medical', 'Housing', 'Transportation', 'Civic', 'Other','Required annual income after taxes', 'Annual taxes','Required annual income before taxes']
df_prediction_columns_mod = [0,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0]
df_scenarios['full_pred'] = reg.predict(X*0.9)
for i in range(len(df_prediction_columns)):
    if df_prediction_columns_mod[i] ==1:
        df_scenarios[df_prediction_columns[i]] = scenario_predictions_increase(df, reg, df_prediction_columns[i])
    else:
        df_scenarios[df_prediction_columns[i]] = scenario_predictions_decrease(df, reg, df_prediction_columns[i])

# for i in range(len(df_prediction_columns)):
#     df_scenarios[df_prediction_columns[i]] = scenario_predictions_decrease(df, reg, df_prediction_columns[i])

df_scenarios.head()

C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\steve\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,FIPS,crime_per_10k_y,full_pred,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,unemployment_rate_2019,median_household_income_2019,Food,Medical,Housing,Transportation,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
0,1001,266.136433,338.685826,296.349125,296.349125,293.245786,280.203730,257.388913,259.372804,251.830860,234.666030,234.173609,235.444760,238.483090,238.669871,238.931395,238.931395,240.963531,173.598767,156.869008
1,1003,418.717554,347.799460,299.543888,299.543888,295.570144,279.352052,247.991702,254.228073,249.330357,227.315773,227.886151,239.060569,246.743329,248.143585,248.241033,248.241033,253.995218,257.898271,269.009296
2,1005,140.272413,343.194641,329.411522,329.411522,301.737619,275.660564,291.645345,290.565564,286.803986,260.638320,259.723233,282.640862,249.265258,246.104927,244.294181,244.294181,242.314469,159.711852,135.019499
3,1007,279.036382,305.118245,213.982879,213.982879,211.399425,205.106660,226.876014,224.991945,219.488138,222.862124,219.846859,224.282481,227.513674,224.757440,227.622737,227.622737,234.170912,225.537858,224.185166
4,1009,210.850300,313.303020,277.059259,277.059259,251.996980,228.698274,211.247858,213.929552,214.374650,220.180155,220.723565,253.414595,256.099807,249.859313,240.801709,240.801709,250.758100,234.761245,235.994942

In [600]:
# df_test["pct_hs"] = df_test["pct_hs"] * 200
# X_mod = df_test.drop(['FIPS', 'crime_per_10k_x','crime_per_10k_y','violent_crime_per_10k', 'hard_drugs_crime_per_10k','soft_drugs_crime_per_10k', 'commerce_crimes_per_10k'],axis=1)
# df_test["preds"] = reg.predict(X_mod)
# df_test = df_test[['FIPS', "crime_per_10k_y", "preds"]]

df_scenarios.describe()

,FIPS,crime_per_10k_y,full_pred,live 2a1w1c,min 1a1c,pct_less_hs,pct_hs,pct_some_college,pct_college,unemployment_rate_2019,median_household_income_2019,Food,Medical,Housing,Transportation,Civic,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,29615.689012,192.026818,254.468866,246.280864,245.567883,240.788580,221.691583,216.535590,223.558889,218.992683,216.425825,213.819325,247.578962,243.529098,244.390285,245.441066,246.000347,243.088921,203.622206,192.063811
std,14904.045836,156.926645,100.521563,87.959721,88.072354,86.067408,80.693069,76.753715,79.733633,78.468160,77.785059,82.667305,56.306872,54.252308,55.386045,56.927559,57.273584,59.171472,90.168394,99.524618
min,1001.000000,0.000000,33.813913,32.312174,26.928297,26.630009,26.630009,28.284489,29.168107,26.609460,24.813642,9.365043,9.844421,9.844421,5.225780,0.626518,0.626518,0.626518,0.123152,0.123152
25%,18115.000000,68.096204,262.749319,246.454891,246.996904,242.599478,207.354424,210.737043,216.410834,213.078888,212.206149,211.008247,218.388016,217.434150,217.940861,218.265089,218.622902,212.656004,154.269448,130.757668
50%,28141.000000,164.901664,290.584745,274.955090,274.794530,268.839844,242.932319,237.311232,245.314662,240.035734,236.011264,235.864374,247.823591,243.751132,244.287020,243.807811,244.312512,241.032827,193.641949,180.194045
75%,41047.000000,282.396190,313.837892,295.767309,295.597824,288.343685,271.077876,261.206307,269.611421,263.204543,260.751229,260.778661,281.874629,272.515890,271.904025,272.232410,273.102891,273.011839,243.384068,235.741460
max,56045.000000,787.373150,379.598427,397.377503,391.008241,385.058954,363.485264,347.557839,364.546871,355.749903,355.027308,355.500503,462.576395,465.309364,474.317698,485.041861,485.041861,517.103411,579.468691,590.367355

In [601]:
df_scenarios.to_csv("../Resources/Data_Outputs/scenarios.csv")